.animated-text-fill {
  /* Adres URL do obrazka tła */
  background: url(/animated-text-fill.png) repeat-y;

  /* Przycinamy tło do kształtu tekstu */
  -webkit-background-clip: text;
  background-clip: text;

  /* Kolor tekstu staje się przezroczysty, aby odsłonić tło */
  -webkit-text-fill-color: transparent;

  /* Stosujemy animację zdefiniowaną poniżej */
  animation: aitf 60s linear infinite;

  /* Poprawia płynność animacji w niektórych przeglądarkach */
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}